/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

/* Set background color of entire page */
html {
  background-color: #eae2b7
}

nav {
  word-spacing: 20px;
}

body {
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Set the font family for any h1, h2, or h3 heading */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

p {
  line-height: 1.5;
}

a {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

/* The div container constrains the content width within the main container to 600px */
div {
  margin: auto;
  width: 600px;
}

hr {
  border: 1px solid black;
}

.image-circle {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #003049;
}

/* Set the size for all images */
.abstract-red, .spiral-zany, .melted-rainbow {
  width: 50%;
  height: 50%;
}

/* Center header, nav, and footer text */
header, nav, footer {
  margin:auto;
  text-align: center;
}
